.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px rgb(123, 173, 119);
}
.note{
    font-size: 15px;
    color: rgb(51, 255, 0);
}
#footer{
    position: fixed;
    bottom: 0;
width: 100%;
color: rgb(255, 255, 255);
background-color: rgb(54, 182, 43);
text-align: center;
line-height: 3;
font-size: 20px;
}
body{
    background-image: url("School_doodle.webp");
}